* {
  margin: 0;
  padding: 0;
}

body {
  background-image: radial-gradient(#030e2cd3 10%, transparent 10%),
    radial-gradient(#030e2cd3 10%, transparent 10%);
  background-color: #ece9dc;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}

header {
  margin-top: 1rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.githubicon {
  aspect-ratio: 1;
  width: 3rem;
  position: fixed;
  background-color: #ece9dc;
  border-radius: 50%;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  gap: 100px;
}
/*
.hidden {
  opacity: 1;
  filter: blur(0);
  transform: translateX(-100%);
  transition: 5s;
}

.show {
  opacity: 1;
  filter: blur(5);
  transform: translateX(0);
}
*/
.name {
  display: grid;
  place-items: center;
  align-content: center;
  /*min-height: 75vh;*/
}

.name h1 {
  color: #ffffff;
  font-family: monospace;
  font-size: 2rem;

  -webkit-text-stroke: 1px #4b66b9;
}

.name h2 {
  color: #ffffff;
  font-family: monospace;
  font-size: 1.5rem;
  text-align: center;
  -webkit-text-stroke: 1px #4b66b9;
}

.container_about {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container_about p {
  max-width: 50ch;
  margin-bottom: 20px;
}

.container_projects {
  margin-bottom: 40px;
}

.container_skills_txt {
  margin-bottom: 40px;
  
}

.user {
  max-width: 30%;
}

div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section {
  border-radius: 10px;
  background-color: #ece9dc;
  outline-style: solid;
  outline-color: #4b66b9;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  gap: 40px;
  margin: 0 10%;
}

h2 {
  color: #ffffff;
  -webkit-text-stroke: 1px #4b66b9;
  font-family: monospace;
  font-size: 20px;
}

h3 {
  font-family: monospace;
  color: #041441;
}

p {
  color: #041441;
  font-family: monospace;
  line-height: 20px;
  max-width: 65ch;
}

.portrait_img {
  max-width: 50%;
  order: -1;
}

.opgave {
  margin-bottom: 60px;
}

.opgave_img {
  max-width: 50%;
  border-radius: 10px;
}

.opgave p {
  max-width: 40ch;
}

/*
.aboutme {
  border-radius: 10px;
  margin: 10%;
  background-color: #ece9dc;
  outline-style: solid;
  outline-color: #4b66b9;
}

.aboutme h2 {
  color: #ffffff;
  -webkit-text-stroke: 1px black;
  font-family: monospace;
  font-size: 20px;
  margin: 3%;
  text-align: center;
}

.aboutme p {
  color: #212121;
  font-family: monospace;
  margin: 5%;
}

img {
  width: 300px;
  justify-content: center;
}

.skills {
  border-radius: 10px;
  margin: 10%;
  background-color: #ece9dc;
  outline-style: solid;
  outline-color: #4b66b9;
}

.skills h2 {
  color: #ffffff;
  -webkit-text-stroke: 1px black;
  font-family: monospace;
  text-align: center;
  font-size: 20px;
}
.skills p {
  justify-content: center;
  margin: 5%;
  font-family: monospace;
}

.projects {
  border-radius: 10px;
  margin: 10%;
  background-color: #ece9dc;
  font-family: monospace;
  outline-style: solid;
  outline-color: #4b66b9;
}

.projects h2 {
  color: #ffffff;
  -webkit-text-stroke: 1px black;
  text-align: center;
  font-size: 20px;
}

.projects h3 {
  font-family: monospace;
  margin: 5%;
}

.projects p {
  margin: 5%;
}
*/

.button {
  display: inline-block;
  font-family: monospace;
  padding: 8px 40px;
  background-color: #ece9dc;
  color: #031032;
  text-decoration: none;
  font-size: 15px;
  border-radius: 15px;
  outline-style: solid;
  outline-color: #4b66b9;
  max-width: fit-content;
}

footer {
  background-color: #030e2c;
  padding: 30px;
  text-align: center;
}

footer h2 {
  color: #ffffff;
  padding: 10px;
  -webkit-text-stroke: 0px;
}

footer h3 {
  color: #ffffff;
}

footer p {
  color: #ffffff;
  text-align: center;
}

/*større skærme*/

@media (min-width: 900px) {
  header {
    margin-right: 3rem;
  }

  .name {
    display: grid;
    place-items: center;
    align-content: center;
  }

  .name h1 {
    font-family: monospace;
    font-size: 6rem;
    -webkit-text-stroke: 2px #4b66b9;
  }

  .name h2 {
    font-family: monospace;
    font-size: 3rem;
    -webkit-text-stroke: 2px #4b66b9;
  }

  section {
    border-radius: 10px;

    background-color: #ece9dc;
    outline-style: solid;
  }

  h2 {
    font-size: 30px;
  }

  .portrait_img {
    order: 1;
    max-width: 30%;
  }

  h3 {
    font-family: monospace;
  }

  p {
    font-size: 16px;
    line-height: 25px;
    font-family: monospace;
  }

  .opgave_img {
    border-radius: 10px;
  }

  footer {
    background-color: #030e2c;
    padding: 30px;
    text-align: center;
  }

  footer h2 {
    color: #ffffff;
    padding: 10px;
    -webkit-text-stroke: 0px;
  }

  footer h3 {
    color: #ffffff;
  }

  .user {
    max-width: 20%;
  }

  .grid_1-1-1 {
    display: grid;
    gap: 3em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: auto;
  }
}
