* {
  margin: 0;
  padding: 0;
}

body {
  background-image: radial-gradient(#031032 10%, transparent 10%),
    radial-gradient(#031032 10%, transparent 10%);
  background-color: #ece9dc;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}

header {
  margin-top: 1rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.githubicon {
  aspect-ratio: 1;
  width: 3rem;
  position: fixed;
  background-color: #ece9dc;
  border-radius: 50%;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  gap: 100px;
}
/*
.hidden {
  opacity: 1;
  filter: blur(0);
  transform: translateX(-100%);
  transition: 5s;
}

.show {
  opacity: 1;
  filter: blur(5);
  transform: translateX(0);
}
*/
.name {
  display: grid;
  place-items: center;
  align-content: center;
  /*min-height: 75vh;*/
}

.name h1 {
  color: #ffffff;
  font-family: monospace;
  font-size: 2.3rem;

  -webkit-text-stroke: 1.5px #031032;
}

.name h2 {
  color: #ffffff;
  font-family: monospace;
  font-size: 1.8rem;
  text-align: center;
  -webkit-text-stroke: 1.5px #031032;
}

.container_about {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container_about p {
  max-width: 48ch;
  margin-bottom: 20px;
}

.container_projects {
  margin-bottom: 40px;
}

.container_skills_txt {
  margin-bottom: 40px;
  /*max-width: 80ch;*/
  
}

.user {
  max-width: 30%;
}

div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section {
  border-radius: 10px;
  background-color: #ece9dc;
  outline-style: solid;
  outline-color: #031032;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  gap: 40px;
  margin: 0 10%;
}

h2 {
  color: #031032;
  /*-webkit-text-stroke: 2px #031032;*/
  font-family: monospace;
  font-size: 20px;
}

h3 {
  font-family: monospace;
  color: #031032;
}

p {
  color: #031032;
  font-family: monospace;
  line-height: 20px;
  /*max-width: 65ch;*/
}

.portrait_img {
  max-width: 50%;
  order: -1;
}

.opgave {
  margin-bottom: 60px;
}

.opgave_img {
  /*max-width: 80%;*/
  width: 80%;
  height: 80%;
  border-radius: 1rem;
}

.opgave p {
  max-width: 40ch;
}


.button {
  display: block;
  width: 80%;       
  text-align: center;
  font-family: monospace;
  padding: 1rem;
  background-color: #031032;
  color: #ece9dc;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 1rem;
  box-sizing: border-box; 

  

  &:hover {
    background-color: #04184b;
  }
}

footer {
  background-color: #031032;
  padding: 30px;
  text-align: center;
}

footer h2 {
  color: #ffffff;
  padding: 10px;
  -webkit-text-stroke: 0px;
}

footer h3 {
  color: #ffffff;
}

footer p {
  color: #ffffff;
  text-align: center;
}

/*større skærme*/

@media (min-width: 900px) {
  header {
    margin-right: 3rem;
  }

  .name {
    display: grid;
    place-items: center;
    align-content: center;
  }

  .name h1 {
    font-size: 6rem;
    -webkit-text-stroke: 2px #2a2d35;
  }

  .name h2 {
    font-size: 3rem;
    -webkit-text-stroke: 2px #2a2d35;
  }

  section {
    border-radius: 10px;
  }

  h2 {
    font-size: 30px;
  }

  .portrait_img {
    order: 1;
    max-width: 30%;
  }

  h3 {
    font-family: monospace;
  }

  p {
    font-size: 16px;
    line-height: 25px;
    font-family: monospace;
  }

  .opgave_img {
    border-radius: 10px;
  }

  footer {
    padding: 30px;
    text-align: center;
  }

  footer h2 {
    padding: 10px;
  }


  .user {
    max-width: 20%;
  }
/*
  .projects_container {
    display: grid;
    gap: 3em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: auto;
  }
  */
    .projects_container {
    display: flex;
    flex-direction: row;
    

  }
}
